/* Notifications*/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500);

.content_staus_box {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #34495e;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6em;
  position:relative;
}

.content_staus_box p {
  margin: 0;
}

.content_staus_box .notice {
  position: relative;
  margin: 0.5em 1em;
  background: #F9F9F9;
  padding: 0.5em 1em 0.5em 2em;
  border: 1px solid #DDD;
  border-left: 4px solid #DDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  box-sizing:border-box;
  display:inline-block;
  width:98%;
}
.content_staus_box .notice p {
	color:#1D2D37;
}

.content_staus_box .notice:before {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -17px;
  background-color: #DDD;
  color: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-family: Georgia;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.content_staus_box .labelN {
	font-size:14px;
	display:inline-block;
	width:100%;
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
}
.content_staus_box .info {
  border-left-color: #0074D9;
  
}

.content_staus_box .info:before {
  content: "i";
  background-color: #0074D9;
}

.content_staus_box .success {
  border-left-color: #2ECC40;
}

.content_staus_box .success:before {
  content: "√";
  background-color: #2ECC40;
}

.content_staus_box .warning {
  border-left-color: #FFDC00;
}

.content_staus_box .warning:before {
  content: "!";
  background-color: #FFDC00;
}

.content_staus_box .error {
  border-left-color: #FF4136;
}

.content_staus_box .error:before {
  content: "X";
  background-color: #FF4136;
}



.f12 {
	font-size:12px;
}
.hide {
	display:none;
}
.sba_btnCheck_box {
	width:100%;
	display:block;
	padding:10px 0;
	border-top:1px dashed #000000;
	text-align:center;
	margin-top:10px;
}

.statusTable {
	border:#08717E 1px solid;
	border-collapse:collapse;
	width:100%;
	box-sizing:border-box;
	font-size:14px;
	margin-top:20px;
}
.statusTable tr {
	border-bottom:#08717E 1px solid;
}
.statusTable td {
	padding:15px 5px;
}
.statusTable td:first-child {
	border-right:1px dotted #08717E;
}

.imp_dd {
	border-top:double 4px #D5D5D5;
	width:100%;
	display:block;
	margin-top:5px;
	text-align:center;
}
.imp_dd .show_btn {
	height:20px;
	font-size:14px;
	line-height:20px;
	padding-left:20px;
	display:inline-block;
	cursor:pointer;
	padding:0px 5px 0px 20px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	background:#F0F0F0 url(imgs/bullet_arrow_down.png) no-repeat left center;
}
.imp_dd  .down {
	
}
.imp_dd  .up {
	background:#F0F0F0 url(imgs/bullet_arrow_up.png) no-repeat left center !important;
}

.improvements {
	width:100%;
	display:block;
	padding:20px;
	box-sizing:border-box;
	border:#6B010B 1px solid;
	margin-top:10px;
}
.improvements ul {
	list-style-type:disc;
	margin-left:30px;
}

.label {
	display:inline-block; 
	height:16px;
	text-indent:22px;
	font-weight:700;
}
.label_tick {
	background:url(imgs/apply.png) no-repeat left;
}

.label_error {
	background:url(imgs/error.png) no-repeat left;
}

.label_warning {
	background:url(imgs/warning.png) no-repeat left;
}

.alert {
	width:100%;
	display:block;
	box-sizing:border-box;
	padding:10px 10px 10px 40px;
	min-height:40px;
	line-height:20px;
	font-size:14px;
	margin:10px 0;
}
.alert_warning {
	border:1px solid #F99B00;
	background:#F8EFC0 url(imgs/warning_b.png) no-repeat left center;
}
.alert_warning b {
	color:#F99B00;
	margin-right:10px;
	display:inline-block;
}

.alert_info {
	border:1px solid #32A6C9;
	background:#C0ECF8 url(imgs/warning_b.png) no-repeat left center;
}
.alert_info b {
	color:#32A6C9;
	margin-right:10px;
	display:inline-block;
}

.alert_error {
	border:1px solid #F90000;
	background:#F8C0CA url(imgs/cross_shield.png) no-repeat left center;
}
.alert_error b {
	color:#F90000;
	margin-right:10px;
	display:inline-block;
}

#contentStatus {
	
}
.tabel_cols td{
	box-sizing:border-box;
	vertical-align:top;
}
.tabel_cols td:first-child{
	padding:0px 30px 0px 0px;
}

.content_staus_box {
	
	display:inline-block; 	
}

.resultstable {
	border:#08717E 1px solid;
	border-collapse:collapse;
	width:100%;
	box-sizing:border-box;
	font-size:16px;
}
tr td.head{
	background:darkslategrey;
	color:#FFFFFF;
	border:1px solid #000;
	font-weight:700;
}
.densityTabel, .densityTabel td {
	border:1px solid #05506B;
	border-collapse:collapse;
}
.densityTabel td {
	padding:10px;
	box-sizing:border-box;
}
.linksTable td {
	padding:5px;
	text-align:center;
	word-break:break-all;
}
.tr_head1 td{
	background:#EDEDED;
	text-align:center;
	padding:10px 0;
}

.brlink_box {
	width:100%;
	display:inline-block;
	border:1px solid #ccc;
	margin-bottom:5px;
	box-sizing:border-box;
	padding:5px;
}

.keyword_box {
	width:100%;
	display:inline-block;
	border:1px solid #ccc;
	margin-bottom:5px;
	box-sizing:border-box;
	padding:3px 5px;
}
.keyword_box .text {
	width:70%;
	float:left;
}
.keyword_box .density {
	width:30%;
	float:left;
	background:#589B12;
	color:#FFFFFF;
	border-radius:3px;
	text-align:center;
}

.resultstable tbody {
	width:100% !important;
}
.resultstable tr, .resultstable td  {
	box-sizing:border-box;
}

.resultstable td  {
	padding:6px 5px;
	border:#08717E 1px solid;
}
.loadImg {
	display:inline-block;
	margin:5px 5px 0 0;
}

.blue {
	color:#06758C;
}
.green {
	color:#07A30A;
}
.red {
	color:#F7011F;
}

.resultsBox div, .resultsBox span {
	display:inline-block;
}
.resultsBox {
	border:#08717E 1px solid;
	border-collapse:collapse;
	width:100%;
	box-sizing:border-box;
	font-size:16px;
	display:block;
	float:left;
}

.innerBox {
	border:#08717E 1px solid;
	min-height:25px;
	box-sizing:border-box;
	float:left;
}


.resultBar
{
	width:80%;
	display:inline-block;
	border:1px solid #ddd;
	height:25px;
	position:relative;
	border-radius:2px;
	overflow:hidden;
}
.resultBar .showBar {
	height:25px;
	float:left;
	background:#2cc185;
}
.resultBar .showText {
	width:100%;
	position:absolute;
	z-index:3;
	left:0;
	font-weight:700;
	text-align:center;
	color:#0B0B0B;
	font-size:16px;
	height:25px;
	line-height:25px;
	
}

.resultsBars {
	float:left;
	width:100%;
	text-align:center;
}

.statBox 
{
	width:95%;
	display:inline-block;
	clear:both;
	padding:5px;
	border-radius:2px;
	line-height:23px;
	font-family:"Roboto",sans-serif;
	font-weight:300;
	margin-bottom:4px;
	border:1px solid #999 !important
}
.statBox .txt 
{
	width:80%;
	float:left;
	text-align:left !important;
}

.statBox .check 
{
	width:20%;
	float:right;
	font-weight:500;
	text-align:right;
	
}

.uniqueSta .txt, .uniqueSta .check 
{
	color:#04A011;
}

/*
.uniqueSta {
	border:1px solid #04A011;
}

.plagSta {
	border:1px solid #D82C47;
}
*/
.plagSta .txt, .plagSta .check 
{
	color:#D82C47;
}

.sec_heading {
	width:100%;
	height:40px;
	margin:10px 0;
	display:block;
	background:#03729A;
	text-align:center;
	color:#FFFFFF;
	font-size:18px;
	line-height:40px;
}

.row {
	width:100%;
	display:block;
}

.circular_bar {
	margin-right: 30px;
	float: right;
}
.currentStatus {
	text-align:center;
	width:100%;
	display:block;
	font-size:18px;
	margin-bottom:10px;
	
}
.currentStatus img {
	text-align:center;
	display:none;
}
/*  Circular Data  */



progress {
    width: 500px;
    height: 25px;
    border: 0px none;
    background-color: #E5E5E5;
    border-radius: 10px;
    padding: 4px 5px 5px 5px;
}
progress::-webkit-progress-bar {
    background-color: #E5E5E5;
    border-radius: 50px;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
} 
progress::-webkit-progress-value {
    border-radius: 50px;
    background:
        -webkit-linear-gradient(135deg, transparent, transparent 20%, rgba(0, 0, 0, 0.1) 33%, #45B565 50%, transparent 10%),
        -webkit-linear-gradient(top, #81CE97, #81CE97),
        -webkit-linear-gradient(left, #ba7448, #c4672d);
    background-size: 25px 14px, 100% 100%, 100% 100%;
    -webkit-animation: move 5s linear 0 infinite;

}
@-webkit-keyframes move {
    0% {background-position: 0px 0px, 0 0, 0 0}
    100% {background-position:100px 0px, 0 0, 0 0}
} 
.progress-value{ 
    color: #444;
    margin-left: 507px;
    margin-top: -24px;
}


.progressDiv {
    width: 84%;
    background: #fcfcfc;
    height: 325px;
    border: 1px solid #ccc;
    position: relative;
    left: 7%;
    top: 100px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 1px #ccc;
}

/* Pie Chart */
.progress-pie-chart {
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}
.progress-pie-chart.gt-50 {
    background-color: #81CE97;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
    width: 150px;
    height: 150px;
    clip: rect(0, 150px, 150px, 75px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
    width: 150px;
    height: 150px;
    clip: rect(0, 75px, 150px, 0);
    background: #81CE97;
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 75px, 150px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 150px, 150px, 75px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 133.91304px/2);
    top: calc(50% - 133.91304px/2);
    width: 133.91304px;
    height: 133.91304px;
    background: #fff;
    text-align: center;
    display: table;
}
.ppc-percents span {
	font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 5.6em;
    font-weight: 100 !important;
    /*color: #81CE97;*/
	color:#464646;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}


.loader {
    text-align: center;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -webkit-transform: translateY(-21px);
    }
}
@-moz-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -moz-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -moz-transform: translateY(-21px);
    }
}


/* Bars */

.bar_btn {
	height:18px;
	display:inline-block;
	margin-right:10px;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	line-height:18px;
	border-radius:8px;
	text-indent:5px;
	min-width:120px;
	color:#888888;
	margin-top:0px;
	float:left;
	
}
.bar_btn_green {
	background:#81CE97;
}

.outer_bar {
	width:300px;
	background:#F7F7F9;
	height:16px;
	border:1px solid #CCCCCC;
	box-shadow:1px 1px 1px #E7E7E7 inset;
	display:inline-block;
	margin:0px 10px;
	border-radius:8px;
	overflow:hidden;
	
}
.outer_bar .inner_green {
	background:#81CE97;
	height:14px;
	border-radius:6px;
	display:block;
	float:left;
}

.outer_bar .inner_red {
	background:#FD8C8C;
	height:14px;
	border-radius:6px;
	display:block;
	float:left;
}

.outer_bar .inner_yellow {
	background:#FCCF10;
	height:14px;
	border-radius:6px;
	display:block;
	float:left;
}







#sba_results *, #sba_results *:after, #sba_results *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.maintabsSec {
	color: #74777b;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	font-family: 'Roboto', sans-serif;
}

#sba_results a {
	color: #2CC185;
	text-decoration: none;
	outline: none;
}

#sba_results a:hover, #sba_results a:focus {
	color: #74777b;
}

#sba_results .support {
	display: none;
	color: #ef5189;
	text-align: left;
	font-size: 1.5em;
	max-width: 1200px;
	margin: 1em auto 0;
	padding: 0;
}

#sba_results .no-flexbox .support {
	display: block;
}

#sba_results .hidden {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

.container > section {
	padding: 3em 0 1em 0;
	font-size: 1.25em;
	min-height: 100%;
}